*                            @silverfish2525

/src/parse.ts                @silverfish2525
/src/encoding.ts             @silverfish2525
/src/query.ts                @silverfish2525
/src/utils/protocol.ts       @silverfish2525
/src/utils/base.ts           @silverfish2525
/src/utils/normalize.ts      @silverfish2525

/src/_types.ts               @silverfish2525

/SECURITY.md                 @silverfish2525
/LICENSE                     @silverfish2525
/CREDITS.md                  @silverfish2525

/package.json                @silverfish2525
/tsconfig.json               @silverfish2525
/.github/workflows/          @silverfish2525
